
.form-container {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
